nav {
	background-color: #000;
	opacity: 0.7;
	font-size: 30px;
}
nav ul {
	list-style: none;
	margin: 10px;
	padding: 10px;
	text-align: right;
}
nav li {
	display: inline-block;
	margin-right: 150px;

}
nav a {
	color: #fff;
	text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }


  h1 {
    font-size: 36px;
    margin-top: 0;
  }

  section {
    background-color: white;
    padding: 20px;
    margin: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }


  header {
    color: white;
    padding: 10px;
    text-align: center;
  }

  .button {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
  }

  .button:hover {
    background-color: #7e226a;
  }
  body {
	background-image: url("busan.jpg");
	background-repeat: no-repeat;
	background-size: 2800px;
}
.box {
	background-color: black;
	border: 1px solid #cccccc;
	padding: 40px;
	opacity: 0.9;
	width: 800px;
    height: 300px;
    margin: 0 auto; 
    text-align: center;	
	}
