nav {
	background-color: #000;
	opacity: 0.7;
	font-size: 30px;
}
nav ul {
	list-style: none;
	margin: 10px;
	padding: 10px;
	text-align: right;
}
nav li {
	display: inline-block;
	margin-right: 150px;

}
nav a {
	color: #fff;
	text-decoration: none;
}

h1{
    font-size: 38px;
    text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

form {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="submit"] {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  form {
    width: 80%;
  }
}