body {
	background-image: url("busanresturant.jpg");
	background-repeat: no-repeat;
	background-size: 2700px;
}
nav {
	background-color: #000;
	opacity: 0.7;
	font-size: 30px;
}
nav ul {
	list-style: none;
	margin: 10px;
	padding: 15px;
	text-align: right;
}
nav li {
	display: inline-block;
	margin-right: 150px;

}
nav a {
	color: #fff;
	text-decoration: none;
}

.box {
	background-color: black;
	border: 1px solid #cccccc;
	padding: 20px;
	opacity: 0.9;
	width: 800px;
    height: 300px;
    margin: 0 auto; 
    text-align: center;	
	}

  footer {
	font-size: 30px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 40px;
	background-color: black;
	color: white
  }
  
  footer{
	opacity:0.9;
  }

p{
	font-size: 30px;
	font-family: sans-serif;
	color:white
}

h1{
	font-size:48px;
	font-family: 'Times New Roman', Times, serif;
	color: white;
}

