nav {
	background-color: #000;
	opacity: 0.7;
	font-size: 30px;
}
nav ul {
	list-style: none;
	margin: 10px;
	padding: 15px;
	text-align: right;
}
nav li {
	display: inline-block;
	margin-right: 150px;

}
nav a {
	color: #fff;
	text-decoration: none;
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .menu-item {
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .menu-item img {
    width: 40%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .menu-item-details {
    flex: 1;
    padding: 20px;
  }
  
  .menu-item-details h2 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .menu-item-details p {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin: 0;
  }
  
  @media screen and (max-width: 767px) {
    .menu-item {
      flex-direction: column;
    }
  
    .menu-item img {
      width: 100%;
      height: 200px;
    }
  }